* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8D3C9;
    font-family: 'Space Grotesk', sans-serif;
}


.vsechno {
    display: grid;
    grid-template-columns: 1.5fr 1.05fr 0.9fr;
    grid-template-areas:
        "intro skills project"
        "intro about contact";
    max-width: 1200px;
    margin: 0 auto;
    gap: 14px;
    padding: 28px;
    border-radius: 24px;
  

}

.karta-skills {
    grid-area: skills;
    background-color: #181818;
    border-radius: 24px;
    color: #F5F2EA;
}

.karta-project {
    grid-area: project;
    background-color: #D8FF45;
    border-radius: 24px;

}

.karta-about {
    grid-area: about;
    background-color: #F5F2EA;
    border-radius: 24px;
}

.karta-contact {
    grid-area: contact;
    background-color: #6758F5;
    border-radius: 24px;
    color: #F5F2EA;
}




.vsechno h3 {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 28px;

}


.vsechno p {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.9;
    padding: 28px;
}

.jmeno {
    display: flex;
    margin-top: 300px;
    margin-left: 25px;
    font-size: 70px;
}

.karta-intro h1 {

    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 16px;
}


.karta-intro .maly-popisek {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.7;
    display: block;
    margin-bottom: 12px;
    padding: 28px;
}

.karta-intro .ahoj {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.7;
    display: block;

    padding: 28px;
}

.karta-intro {
    grid-area: intro;
    background-color: #F5F2EA;
    border-radius: 24px;
}

.tuff {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.karta-skills h2 {
    display: flex;
    margin-top: 100px;
    margin-left: 25px;
    font-size: 35px;
}

.karta-skills p {
    display: flex;
    font-size: 10px;
}

.karta-about p {
    display: flex;


    font-size: 30px;
}

.karta-project h2 {
    display: flex;
    margin-top: 150px;
    margin-left: 25px;
    font-size: 35px;
}

.karta-project p {
    display: flex;
    font-size: 10px;
    font-size: 15px;
}

.karta-contact h2 {
    display: flex;
    margin-left: 25px;
    font-size: 35px;
}

.vsechno .odkazy {
    display: flex;
    margin-left: 25px;
    gap: 25px;
   
    margin-bottom: 25px;
    text-decoration: none;
}
.odkazy a {
    color:#F5F2EA ;
 
}
.vsechno .odkaz {
    display: flex;
    margin-left: 25px;
    gap: 25px;
   
    margin-bottom: 25px;
    text-decoration: none;
}
.odkaz a {
    color:#181818 ;
    text-decoration: none;
 
}